body {
    color: #000;
    font-size: 1rem;
    font-family: taj-sun, Helvetica, Arial, sans-serif;
    font-style: normal;
    font-weight: 400;
    line-height: 1.3;
    min-height: -webkit-fill-available;
}
table{
  border: 1px solid black;
}
footer {
 background: rgb(9, 95, 234);
  color: white;
  margin-top:100px;
}
footer a {
  color: #fff;
  font-size: 14px;
  transition-duration: 0.2s;
}
footer a:hover {
  color: #FA944B;
  text-decoration: none;
}
.copy {
  font-size: 12px;
  padding: 10px;
  border-top: 1px solid #FFFFFF;
}
.footer-middle {
  padding-top: 2em;
  color: white;
}
ul.social-network {
  list-style: none;
  display: inline;
  margin-left: 0 !important;
  padding: 0;
}
ul.social-network li {
  display: inline;
  margin: 0 5px;  
}
